/* GERAL */
body {
    font-family: 'Nunito', sans-serif;
}
/* //GERAL */


/* HEADER */
@media (min-width: 992px) { 
    #header .nav-link{
        margin-left: 70px;
  
    }

    #header .navbar-brand {
        margin-left: 10px;
    }
}

@media (min-width: 1200px) { 
    #header .nav-link{
        margin-left: 90px;
        margin-right: 90px;
    }

    #header .navbar-brand {
        margin-left: 50px;
    }
}
/* //HEADER */


/* SOBRE */
#sobre {
    background-image: url(../assets/17580.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#sobre .container {
    text-align: center;
}

#sobre .container h1 {
    margin: 30px 0 20px 0;   
}

#sobre .container p {
    margin: 20px 0 0 0;
}

#sobre .card {
    background: transparent;
    border-color: transparent;
    margin: 10px 0 0 20px;
}

#sobre .card-title {
    margin: 20px 0 0 0;
}

#sobre .card-text {
    margin: 0 0 0 0;
}
/* //SOBRE */